<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAA9UlVCVpqGVcQV8v1WPPUz-G4jSoVJ6U</string>
	<key>GCM_SENDER_ID</key>
	<string>875424997321</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.renasyaaFb.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>renasyaa-fb</string>
	<key>STORAGE_BUCKET</key>
	<string>renasyaa-fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:875424997321:ios:e4c2d9f5fdcca1160c9218</string>
</dict>
</plist>